<ion-header [translucent]="true">
  <ion-toolbar>
    <img src="assets/img/pokedex-header.png" class="header-logo" />
  </ion-toolbar>

  <ion-toolbar>
    <ion-segment scrollable [value]="filtro" (ionChange)="cambiarFiltro($event)">
      <ion-segment-button value="todos">
        <ion-label>Todos</ion-label>
      </ion-segment-button>
      <ion-segment-button value="favoritos">
        <ion-label>★ Favoritos</ion-label>
      </ion-segment-button>
      <ion-segment-button *ngFor="let tipo of tipos" [value]="tipo">
        <ion-label class="ion-text-capitalize">{{ tipo }}</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-row class="ion-align-items-center border-bottom" *ngFor="let pokemon of pokemonsFiltrados" (click)="goToDetail(pokemon)">
      <ion-col size="3">
        <ion-img [src]="pokemon.sprite"></ion-img>
      </ion-col>
      <ion-col size="4">
        <ion-text class="ion-text-capitalize">
          {{ pokemon.name }}
        </ion-text>
      </ion-col>
      <ion-col size="2">
        <ion-img [src]="'assets/img/' + pokemon.type1 + '.gif'"></ion-img>
      </ion-col>
      <ion-col size="2">
        <ion-img *ngIf="pokemon.type2" [src]="'assets/img/' + pokemon.type2 + '.gif'"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Mensaje cuando la categoría o favoritos está vacío -->
  <div *ngIf="pokemonsFiltrados.length === 0" class="empty-state">
    <ion-text>No hay Pokémon para mostrar en esta categoría.</ion-text>
  </div>

  <!-- El scroll infinito solo trabaja en "Todos" -->
  <ion-infinite-scroll *ngIf="filtro === 'todos'" threshold="50px" (ionInfinite)="morePokemon($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
